{% extends 'base.html' %}

{% block title %} Create A Post {% endblock %}

{% block content %}

<form action="" class="bg-success-subtle rounded mt-3 p-5" method="post">
    <h1 class="text-center">Create a Post</h1>
    {{ form.csrf_token }}

    {{ form.title.label }}
    {{ form.title(class='form-control', placeholder='Enter your Title') }}

    {{ form.body.label }}
    {{ form.body(class='form-control', placeholder='Enter your Post') }}

    {{ form.submit(class='btn btn-success w-100 mt-3' )}}
</form>

{% endblock %}